<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.recoded.taqadam">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/LightCustom">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service android:name=".NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme.IntroDialog">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ConfirmProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".SigninActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/facebook_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".AssignmentActivity">
        </activity>
        <activity
            android:name=".SettingsActivity"/>
        <activity android:name=".BaseActivity">
        </activity>
        <activity android:name=".PostActivity">
        </activity>
        <activity android:name=".FeedbackActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".AppAboutActivity"/>
        <activity android:name=".HelpActivity"/>
        <activity android:name=".PostsFeedActivity"/>
        <activity android:name=".PostViewerActivity"/>
    </application>

</manifest>